
.container {
  width: 80%;
  margin: 0 auto;
}

.container * {
box-sizing: border-box;
}

form {
margin: 10px auto;
max-width: 100%;
min-width: 85%;
padding: 10px auto;
border-radius: 8px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
}

 form .contact,
.inner {
list-style-type: none;
display: flex;
font-size: 20px;
}

.contact li,
.inner {
  align-items: center;
}

.inner {
  padding: 20px;
}

header {
margin: auto;
text-transform: capitalize;
text-align: center;
color: white;
background: #36454f;
padding: 15px;
font-size: 2rem;
font-weight: bold;
max-width: 100%;
}

section {
  margin: 0 0 50px 0;
}

section,
h1,
.news {
text-align: center;
}

h1 {
  padding-top: 20px;
  font-weight: bold;
}

.news {
  margin: 0 auto;
}

hr.solid {
border-top: 5px solid #000000;
}

hr.thin {
border-top: 3px solid #000000;
}

h2 {
padding-top: 15px;
text-align: right;
font-weight: bold;
}

form li + li {
  margin-top: 1em;
  margin: auto;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  color: #8A97A0;
  background-color: white;
}

li:first-child {
padding: 15px;
margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select {
width: 100%;
height: 45px;
box-sizing: border-box;
border-radius: 8px;
background-color: #D3D3D3;
}

 label[for=html_news],
 label[for=css_news],
 label[for=javascript_news],
 label[for=html_format],
 label[for=plain_text],
 label[for=hear] {
width: 100%;
padding: 15px;
margin-top: 15px;
margin-bottom: 15px;
}

.topics {
  text-align: center;
}


label [for=zip] {
  width: 105px;
  padding-right: 150px;
}

input [type=radio],
input [type=checkbox],
textarea {
font: 1em sans-serif;
width: 100%;
padding: 15px;
margin-top: 15px;
margin-bottom: 15px;
border: 1px solid #999;
border-radius: 5px;
}

input:focus,
textarea:focus {
border-color: #000080;
}

textarea {
  vertical-align: top;
  height: 5em;
  margin-bottom: 40px;
}

.button {
  padding-left: 90px;
}

button {
  color: #fff;
  padding: 19px 30px 19px 30px;
  background-color: #20B2AA;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

fieldset {
margin-bottom: 30px;
border: none;
}

legend {
margin-bottom: 10px;
}

footer {
  display: flex;
  padding: 18px;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #D3D3D3;
}




/*media queries*/

@media screens and (max-width: 768px) {

  .container {
    max-width: 100%;
  }

  body {
    width: 100%; 
  }

  form,
  div {
    display: flex;
  }

  div {
    align-items: center;
  }


  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  #state {
    width: 100%;
  }

  .topics {
    text-align: center;
  }

label {
  width: 70%;
  text-align: left;
}


input[type=number] {
  max-width: 70%;
}
textarea#hear {
  width: 100%;
  padding-bottom: 40px;
}

}
